body {
    background-color: #111320;
    font-family: "Kufam", sans-serif;
    position: sticky;
}


#box_main {
    align-items: center;
    margin-top: 150px;
}

#p_1 {
    margin-top: 15px;
}


#h {
    background-color: #111320;
}

@media (max-width: 600px) {
    .col-sm {
        height: 50%;
    }
}


@media (max-width:740px) {
    #box_main {
        margin-top: 0%;

    }
}


#h2_txt {
    font-family: "Kumar One", serif;
}

@media (max-width:680px) {
    #box_icons {
        margin-top: 0%;
        display: flexbox;

    }
}

@media (min-width:680px) {
    body {
        margin-bottom: 150px;

    }
}

.card-1 {
    background-color: crimson;
    height: 40px;
    margin-top: 5px;
 

}

#img_1 {
    border-radius: 14px;

}


