/*NavBar*/
#h {
    background-color: #111320;
}

#h2_txt {
    font-family: "Kumar One", serif;
}

/*Fim*/


/*Body*/

body {
    background-color: #111320;
    font-family: "Kufam", sans-serif;
    position: sticky;
}






