body {
    background-color: #111320;
}






.clearfix {
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;

}


.btn {
    background-color: crimson;
}


#h {
    background-color: #111320;
}