body {
    background-color: #111320;
}


#box_main {
    align-items: center;
    margin-top: 150px;
}




#h {
    background-color: #111320;
}

@media (max-width: 600px) {
    .col-sm {
        height: 50%;
    }
}


@media (max-width:740px) {
    #box_main {
        margin-top: 0%;

    }
}



.card-1 {
    background-color: crimson;
    border-radius: 14px;
    height: 40px;

}

#img_1 {
    border-radius: 14px;

}